.header{
    .logo{
        font-family:$logoFont;
        font-size:90px;
        font-weight:500;
        color:$logoTextColor;
        text-align:center;
    }
    .tagline{
        font-family:$taglineFont;
        font-size:30px;
        font-weight:500;
        color:$logoTextColor;
        text-align:center;
    }
}

ul{
    list-style-type:none;
    text-align:center;
    li{
        display:inline-block;
        padding:20px 20px 0 20px;

        a{
            text-decoration:none;
            color:$navTextColor;
            font-family:$navFont;
            &:hover{
                color: $navTextHoverColor;
            }
        }

        &.separator{
            font-family:$navFont;
            color:$navTextColor;
        }
    }
}