{{!
{
  "name" : "Navigation",
  "description" : "Main site navigation template."
}
}}


<div class="header">
    <a class="site-link" href="#">
        <h1 class="logo">
            <i class="ss-burger" style="font-size:120px;"></i>
            <b>Assemble</b>JS
        </h1>
    </a>
    <h2 class="tagline">A <a href="http://backbonejs.org/" target="_blank">Backbone</a>, <a href="http://requirejs.org/" target="_blank">AMD</a>, <a href="http://sass-lang.com/" target="_blank">SASS</a>-based front end bootstrap.</h2>
</div>