{{!
{
  "name" : "Navigation",
  "description" : "Main site navigation template."
}
}}


<div class="header">
    <a class="site-link" href="/">
        <h1 class="logo">
            <i class="ss-burger" style="font-size:120px;"></i>
            <b>Assemble</b>JS
        </h1>
    </a>
    <h2 class="tagline">A light <a href="http://backbonejs.org/" target="_blank">Backbone</a> & <a href="http://requirejs.org/" target="_blank">Require</a> based boilerplate.</h2>
</div>

<ul>
    <li><a class="site-link" href="/docs">Docs</a></li>
    <li class="separator">/</li>
    <li><a class="site-link" href="/contributors">Contributors</a></li>
    <li class="separator">/</li>
    <li><a href="https://github.com/nick-jonas/assemble" target="_blank">GitHub</a></li>
</ul>